name: Publish Docker image

on:
  workflow_dispatch:
    inputs:
      version:
        required: false
        type: string
        description: "Version"
  release:
    types: [published]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    env:
      REPOSITORY: ${{ secrets.DOCKERHUB_REPO }}
      PLATFORMS: linux/amd64,linux/arm64
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REPOSITORY }}

      - name: Determine version
        id: determine_version
        run: |
          if [ -z "${{ github.event.inputs.version }}" ]; then
            year=$(date +'%y')
            month=$(date +'%m' | sed 's/^0*//')
            number=$(git tag --list "${year}.${month}.*" | wc -l)
            number=$((number + 1))
            version="${year}.${month}.${number}"
          else
            version="${{ github.event.inputs.version }}"
          fi
          echo "version=$version" >> $GITHUB_ENV

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          platforms: ${{ env.PLATFORMS }}
          file: dockerfile
          push: true
          tags: |
            ${{ env.REPOSITORY }}:${{ env.version }}
            ${{ env.REPOSITORY }}:latest
          labels: ${{ steps.meta.outputs.labels }}
